* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.75rem;
    background-color: rgb(251, 251, 250);



}

header {
    display: block;
    width: auto;
    height: 150px;
    margin: 0 auto;
    padding: 2.5rem;
    background-color: rgb(218, 223, 224);
    margin-top: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

header p {
    font-size: 40px;
    font-weight: bold;
}

#nav {
    display: inline;
    position: absolute;
    top:25%;
    right: 1%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-size: 60px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-style: italic;
}

main {
    width: 96%;
    margin: 2rem auto;
    display: block;
}

.hero {
    height: 600px;
    width: 100%;
    margin: 0 auto;
    background-image: url("https://img.freepik.com/free-photo/work-space-laptop-blank-screen-wooden-table_93675-128555.jpg?w=2000");
    background-size: cover;
    background-position: center;

}

.justify-center {
    justify-content: center;
    
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem;

}

.card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }


.about  {
    display: flex;
    width: 33%;
    height: 200px;
    border: solid blue 2px;
    content: center;
    background-color: grey;
    justify-content: end;
}



.code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--heliotrope);
    outline: 2px dashed var(--gin);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
}  

.code-card .card-header {
    /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--outer-space);
    color: var(--heliotrope);
    border: 2px solid var(--gin);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }





  @media screen and (max-width:992px) {
    section {
        width: 50%;
    }
  }

  @media screen and (max-width:768px) {
    section {
        width:100%;
    }
  }